.jumbotron {
  border-radius: 0 !important;
  margin: 0 0 0 0 !important;
}
body { 
    padding-top: 60px; 
}
#sidebar {
  padding-right: 0px;
}
#body {
  padding-left: 0px;
}
.img-responsive {
  width: 100%;
  margin: 5px 5px 5px 5px;
}
#myImage {
  max-width: 70%;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}
#myImage:hover {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}
ul {
  margin: 0 0 0 0;
  list-style-type: none;
}
li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}
.margin-left{
  margin-left: 7px !important;
}

#Home .intro-header {
  padding-top: 100px;
  padding-bottom:50px;
  text-align: center;
  color: white;
  height: 350px;
  background-image: url('https://raw.githubusercontent.com/rdesfo/ElegantThemesBackgroundImages/master/Elegant_Background-14.jpg');
  background-size: cover;
}

#Home h1 {
  font-size: 90px;
}

//
//

.navbar-default .navbar-nav > .active > a, .navbar-default
.navbar-nav > .active > a:focus, ..navbar-default .navbar-nav >
.active > a:hover {
  color: #f50057;
}
