---
title: Home
---
    <div class="row">
      <div class="col-sm-12">
        <section id="Home">
          <div class="jumbotron shadow intro-header">
            <div class="row">
              <div class="col-md-12">
                <h1>Welcome</h1>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="jumbotron shadow">
      <div class="row">
        <div class="col-sm-9" id="body">
          <section id="Post">
            <h2 class="text-center">Post</h2>

            $partial("templates/post-list.html")$

          </section>
<section>
            <h2 class="text-center">Projects</h2>
            <ul>
              <li><a href="http://rdes.gitlab.io/fcc_projects/">FreeCodeCamp Projects</a></li>
            </ul>
</section>
        </div> <!-- col-sm-9 -->
        <div class="col-sm-3" id="sidebar">
          <section id="About">
            <div class="h-card">
	      <div class="image">
                <img src="https://avatars3.githubusercontent.com/u/284815?v=3&s=460" id="myImage" class="img-responsive img-circle center-block u-photo" alt="Ryan Desfosses">
              </div>
              <h2 class="text-center">About</h2>
                  <p>My name is
                    <span class="p-name">Ryan Desfosses</span>
                     and this page is my little corner of the web.
                  </p>
              <h2 class="text-center">Elsewhere</h2>
                <hr>
                  <a href="https://gitlab.com/rdes" rel="me">
                    <p><i class="fab fa-gitlab" aria-hidden="true"></i> Gitlab</p>
                  </a>
                  <a href="https://www.freecodecamp.com/rdes" rel="me">
                    <p><i class="fab fa-free-code-camp" aria-hidden="true"></i> Freecodecamp</p>
                  </a>
                  <a href="https://apps.fedoraproject.org/datagrepper/raw?user=rdes" rel="me">
                    <p><i class="fab fa-linux" aria-hidden="true"></i> Fedora</p>
                  </a>
                  <a href="https://keybase.io/rdesfo" rel="me">
                    <p><i class="fab fa-keybase"></i> Keybase</p>
                  </a>
                  <a href="https://hub.docker.com/r/rdesfo/"  class="u-url" rel="me">
                    <p><i class="fab fa-docker" aria-hidden="true"></i> Docker</p>
                  </a>
                  <a href="https://github.com/rdesfo" class="u-url" rel="me">
                    <p><i class="fab fa-github" aria-hidden="true"></i> Github</p>
                  </a>
                  <a href="https://www.linkedin.com/in/ryandesfosses/" rel="me">
                    <p><i class="fab fa-linkedin" aria-hidden="true"></i> Linkedin</p>
                  </a>
            </div>
          </section>
        </div> <!-- col-sm-3 -->
      </div> <!-- row -->
    </div>  <!-- jumbotron -->
    <div class="row">
      <footer>
        <hr>
        <p class="text-center">© 2016</p>
      </footer>
   </div>
