
<div class="h-feed section stream">
  <ul>
    $for(posts)$
      <li class="h-entry hentry as-note">
        <span class="p-name entry-title e-content entry-content article">
          <a href="$url$" class="dt-published published dt-updated updated u-url u-uid">$title$</a> - <time class="value">$date$</time>
	</span>
      </li>
    $endfor$
  </ul>
</div>
