<div class="article">
  <header>
    <h1 class="entry-title p-name">$title$</h1>
    <span class="info">
    Posted on <time class="value">$date$</time>
    $if(author)$
        by <a href="http://www.desfo.org/" class="h-card">$author$</a>
    $endif$
    </span>
  </header>
  <div class="entry-content e-content">
    $body$
  </div>
</div>
